body {
    text-align: center;
    font-size: 20px;
    /*background-color: #3c3fe7;*/
    background-image: linear-gradient(to right, #8366FE  20px, #4BAAFE, #3BF3FB);
}
h1 {
    color: red;
}
div {
    background-image: linear-gradient(to right, black, #777777);
    border-radius: 10px;
    width: 700px;
    padding: 10px;
    margin: auto;
}

ul {
    column-width: 110px;
    list-style: none;
}
li {
    padding: 10px;
}
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}